@if (Blog != null)
{
    <div class="lg:w-3/4 lg:px-6">
        <img class="object-cover object-center w-full h-80 xl:h-[28rem] rounded-xl" src="@Blog.ImageUrl" alt="">

        <div>
            <p class="mt-6 text-sm text-blue-500 uppercase">Want to know</p>

            <h1 class="max-w-lg mt-4 text-2xl font-semibold leading-tight text-gray-800 dark:text-white">
                @Blog.Title
            </h1>

            <div class="flex items-center mt-6">
                <img class="object-cover object-center w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">

                <div class="mx-4">
                    <h1 class="text-sm text-gray-700 dark:text-gray-200">Author</h1>
                    <p class="text-sm text-gray-500 dark:text-gray-400">Lead Developer</p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public BlogPost? Blog { get; set; }
}
