@page "/"

<h1 class="text-3xl font-bold underline">
    Result DEMO 1; Loaded from local FS
</h1>

<article class="prose lg:prose-xl">
    <MarkdownViewer MarkdownInput="@markdownContent" />
</article>
